{% schema  %}  
{
    "name": "about body",
    "tag": "section",
    "class": "body-section",
    "settings": [{ 
        "type": "text",
        "id": "text_header",
        "label": "header",
       "default": "insert header here"
    },
    {
        "type": "textarea",
        "id": "text_body",
        "label": "body",
        "default": "insert text"
    }
]
    
    
}

{% endschema %}

<div>

<h1> {{section.settings.text_header}}</h1>
<p>{{section.settings.text_body}}</p>

</div>