{% schema  %}  
{
    "name": "Header",
    "tag": "section",
    "class": "hero_section",
    "settings": [{
        "type": "image_picker",
        "id": "about_image",
        "label": "image_picker"
        
    },
          {
            "type": "select",
            "id": "text_positioning",
            "default": "center",
            "label": "positioning",
            "options": [
                {"value": "center", "label": "center"},
                {"value": "start", "label": "right"}
            ]
        }
      
  
],
"blocks": [{
    "type": "text",
    "name":"text",
    "settings": [{
        "type": "text",
        "default":"insert text here",
        "id": "about_text",
        "label": "about text"
    },
       {
      "type": "select",
        "id": "text_font_size",
         "label": "Font Size",
         "options": [
           {
             "value": "1.5rem",
             "label": "small"
           },
            {
             "value": "2.5rem",
             "label": "medium"
           },
            {
             "value": "3rem",
             "label": "large"
           },
         ]
    }
   ]
},
{
    "type": "text_positioning",
    "name": "position",
    "settings": [
        {
            "type": "select",
            "id": "text_positioning",
            "default": "center",
            "label": "positioning",
            "options": [
                {"value": "center", "label": "center"},
                {"value": "start", "label": "right"}
            ]
        }
    ]
}],

"presets": [
    {
        "name": " About Header Section"
    }
]
}


{% endschema %}
<style>
    .about_container{
        width: 100vw;
        height: 50vh;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        background-position: center;
    }
    .about-text{
        color: white;
      font-size: 1.5rem;
      padding: 5rem;
        
    }
</style>

<div >
<div class= "about_container" style=
"background-image: url('{{section.settings.about_image |  image_url : large }}');
flex-direction: {{section.settings.text_positioning}};">

{% for block in section.blocks %}
    {% case block.type  %}
    {%when 'text' %}

<h1 style = 
  "font-size : {{block.settings.text-font-size }} }}"class="about-text">{{block.settings.about_text}}</h1>
{%endcase%}
{%endfor%}
</div>
</div>