{% schema  %} 

{
    "name": "Values",
    "tag": "section",
    "settings": [{
        
        "type": "select",
        "id": "section_padding",
        "label": "padding",
        "options": [
            {"value": "2rem", "label": "small"},
            {"value": "4rem", "label": "medium"},
            {"value": "5rem", "label": "large"}

        ]
    }],
    "blocks": [{
        "type": "values",
        "name":"title",
        "settings": [{
            "type": "text",
            "id": "title",
            "label": "title",
            "default": "enter value here"

        },
    {
        "type": "image_picker",
        "id": "value_image",
        "label": "image"
    },
        {
            "type": "textarea",
            "id": "value_text",
            "label": "a bit about your value",
            "default": "insert text here"
        }]

    }]
}

 {% endschema %}
<style>
    .container{
        display: flex;
        width: 100%;
        align-content: center;
    }
    .section_container{
        display: flex;
        align-self: center;
        width: 70vw;
        height: 60vh;
        flex-direction: column;
        justify-content: center;
        overflow-x: scroll;
    }
.image img{
    border-radius: 50%;
}

</style>
<div class="container">
    <div class="section_container" style="padding: {{section.settings.section_padding}};">
        {% for block in section.blocks %}
        <div>
 <div class="title">
    <h1>
{{block.settings.title}}</h1>
 </div>
 <div class="image">
<img width="200" height="200" src= "{{block.settings.value_image |  image_url: small }}"/>
 </div>
<div class="text">
<p>{{block.settings.value_text}}</p>
</div>
</div>
{%endfor%}
    </div>
    </div>