{% schema  %}  
{
    "name": "about body",
    "tag": "section",
    "class": "body-section",
    "settings": [{ 
        "type": "text",
        "id": "text_header",
        "label": "header",
       "default": "insert header here"
    },
    {
        "type": "textarea",
        "id": "text_body",
        "label": "body",
        "default": "insert text"
    },
    {
        "type": "select",
        "id": "font_size",
        "label": "font size",
        "options": [
            {"value": "small" , "label" : "small"},
            {"value": "large" , "label" : "large"},
            {"value": "medium" , "label" : "medium"}
        ]
    }
]
    
    
}


{% endschema %}

<style>
.aboutBodyContainer{
--bodyTextsmall : 16px;
--bodyTextmedium : 2rem;
--bodyTextlarge : 3rem;
--headerTextsmall : 32px;
--headerTextmedium: 3rem;
--headerTextlarge : 5rem;

}
</style>

<div class = aboutBodyContainer>

<h1 style="font-size: var(--headerText{{section.settings.font_size}});"> {{section.settings.text_header}}</h1>
<p  style="font-size: var(--bodyText{{section.settings.font_size}});"> {{section.settings.text_body}}</p>

</div>