{% schema  %}  
{
    "name": "Header",
    "tag": "section",
    "class": "hero_section",
    "settings": [{
        "type": "image_picker",
        "id": "about_image",
        "label": "image_picker"
        
    }
],
"blocks": [{
    "type": "text",
    "name":"text",
    "settings": [{
        "type": "text",
        "default":"insert text here",
        "id": "about_text",
        "label": "about text"
    }]
}],

"presets": [
    {
        "name": " About Header Section"
    }
]
}


{% endschema %}


<div >
<div style = "background-image: url('{{section.settings.about_image |  file_url }}');"></div>
{% for block in section.blocks %}
    {% case block.type  %}
    {%when 'text' %}

<h1>{{block.settings.about_text}}</h1>
{%endcase%}
{%endfor%}
</div>