{% schema %}
  
  {
    "name": "Custom Image Banner",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "image"
      }
     
    ],
    "blocks": [
      {
        "type": "text",
        "name": "text",
        
        "settings": [
          {
            "type": "text",
            "id": "banner_text",
            "default": "insert text here",
            "label": "Banner Text"
            
          }
        ]
        
      }
    ],
  
   "presets": [
    {
      "name": "Custom Image Banner",
      "category": "Custom"
    }
  ]
  }
  
{% endschema %}

<div>
  <div class="image_container">
      {%  if section.settings.image %}
<img src="{{ section.settings.image | img_url}}" width="1000px" height="auto">
            {% endif %}

        </div>
  
    {% for block in section.block %}
  {% case block.type %}
    { % when  'text'%}
 <h1>{{ block.settings.banner_text }}</h1>
    {% endcase %}
      {% endfor %}
</div>