{% schema %}
  
  {
    "name": "Custom Image Banner",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "image"
      }
     
    ],
    "blocks": [
      {
        "type": "text",
        "name": "text",
        
        "settings": [
          {
            "type": "textarea",
            "id": "banner_text",
            "default": "insert text here",
            "label": "Banner Text"
            
          }
        ]
        
      }
    ],
  
   "presets": [
    {
      "name": "Custom Image Banner",
      "category": "Custom"
    }
  ]
  }
  
{% endschema %}
<style>
  .banner_image{
    object-fit: contain;
    width: auto;
    z-index: 1;
      

    height: auto;
    
  }
  .banner_text{
    top: 10px;
    left:10px;
    text-align: center;
    position: absolute;
    z-index: 2;
  }
  .custom_image_banner_container{
    max-width: 100%;
    position: relative;
  }
</style>


<div class="custom_image_banner_container">
  <div class="image_container">
      {%  if section.settings.image %}
<img class="banner_image" src="{{ section.settings.image | image_url}}" width="auto" height="auto">
            {% endif %}

        </div>
  
    {% for block in section.blocks %}
  {% case block.type %}
    {% when 'text'%}
 <h1 class="banner_text">{{ block.settings.banner_text }}</h1>
    {% endcase %}
      {% endfor %}
</div>