{% schema %}
  
  {
    "name": "Custom Image Banner",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "image"
      }
     
    ],
    "blocks": [
      {
        "type": "banner_text",
        "name": "image_text",
        "settings": [
          {
            "type": "text",
            "id": "banner_text",
            "label": "Banner Text"
            
          }
        ]
        
      }
    ]
  }
  
{% endschema %}

<div>
  <div class="image_container">{{ section.settings.image }}</div>
  <div class="banner_text">{{ block.settings.banner_text }}</div>
</div>