{% schema %}
  
  {
    "name": "Custom Image Banner",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "image"
      }
     
    ],
    "blocks": [
      {
        "type": "banner_text",
        "name": "Banner Text",
        "settings": [
          {
            "type": "text",
            "id": "banner_text",
            "label": "Banner Text"
            
          }
        ]
        
      }
    ]
  }
  
{% endschema %}

<div>
  <div class="image_container">
      {%  if section.settings.image %}
{{ section.settings.image }}
            {% endif %}

        </div>
    {% for blocks in section.blocks %}
  {% if blocks.id == 'banner_text' %}
  <div class="banner_text">{{ block.settings.banner_text }}</div>
    {% endif %}
      {% endfor %}
</div>