{% schema  %} 
    
{
    "name": "Hero Section",
    "settings": [
        {
        "type": "text",
        "id": "text-hero",
        "label": "Hero text line",
        "default": "insert text here!"
        },
        {
            "type": "image_picker",
            "id": "text-image",
            "label": "text image"
        }
        
    ],
    "blocks": [
        {
            "type": "image_picker",
            "name": "Image Block",
            "settings": [
                {
                    "id": "block_image",
                    "type": "image_picker",
                    "label": "text_image"

                }
            ]

                },
                {
                    "type": "text",
                    "name": "text Line",
                    "settings": [{
                        "id": "text_line",
                        "type": "text",
                        "label": "enter lext line here",
                        "default": "enter text line here"
                    }]
                }
    ]
}
 {% endschema %}
<div>
<h1>{{section.settings.text-hero}}</h1><img width="500px" height="500px" src="{{section.settings.text-image}}  | img_url: 'master'" alt="text image">
{% for block in section.blocks %}
    {% case block.type %}
    {% when 'text' %}
        <p>{{block.settings.text_line}}</p>
    {% when 'block_image' %} 

<img width=500px height="500px" src="{{block.settings.block_image | img_url : 'small'}}" alt="hero image">
{%  else %} 
<p>Unsuppored block type</p>
    {% endcase %}
{% endfor %}
</div>