{% schema  %} 
    
{
    "name": "Hero Section",
    "settings": [
        {

        }
        
    ],
    "blocks": [
        {
            "type": "image_picker",
            "name": "Image Block",
            "settings": [
                {
                    "id": "block_image",
                    "type": "image_picker",
                    "label": "text_image"

                }
            ]

                },
                {
                    "type": "text",
                    "name": "text Line",
                    "settings": [{
                        "id": "text_line",
                        "type": "text",
                        "label": "enter lext line here",
                        "default": "enter text line here"
                    }]
                }
    ]
}
 {% endschema %}
<div>
<h1>hi</h1>
{% if section.block.size > 0 %}
{% for block in blocks %}
    {% if block.type == 'text' %}
        <p>{{block.settings.text_line}}</p>
        {% endif %}
    {% if block.type == 'image_picker' %}
<img width=500px height="500px" src="{{block.settings.block_image | img_url: 'master'}}" alt="hero image">
{% endif %}
{% endfor %}
{% endif %}
</div>