{% schema  %} 
    
{
    "name": "Hero Section",
    "settings": [

        {
        "type": "select",
        "label": "Hero text line",

        "id": "div_range",
        "options": [
            {
                "value": "span 1" ,
                "label": "small"
                    },
                    {
                "value": "span 3" ,
                "label": "medium"
                    },
                    {
                        "value": "span 5",
                        "label": "large"
                    }
        ]  ,
        "default": "span 5"


        }
    
        
    ],
    "blocks": [

     
                {
                    "type": "hero_text_line",
                    "name": "Hero Text Line",
                    "settings": [
                    {
                        "id": "text_line",
                        "type": "text",
                        "label": "enter lext line here",
                        "default": "enter text line here"
                    },
                    {
                        "type": "select",
                        "id": "font_weight",
                        "label": "font weight",
                        "default": "300",
                        "options": [{
                            "label": "light",
                        "value": "300"
                        },
                    {
                        "label": "medium",
                        "value": "400"

                    },
                        {
                            "label": "bold",
                            "value": "500"
                        }]
                    },
                    {
                        "id": "block_image",
                    "type": "image_picker",
                    "label": "text_image"
                    }
                    ]
                }
    ],
    "presets": [
        {
            "name": "Hero Section"
        }
    ]
}
 {% endschema %}

<style>
    .container{
    padding: 0rem 5rem 0 5rem;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
     font-family: "Taviraj", serif;
  font-style: normal;
}
    }
    .hero-text-line{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

        font-size: 5rem;
        width: auto;
    }
</style>

<script>



</script>

<div>
    <div>


<div class="container">
    <div style ="grid-column:{{section.settings.div_range}};" class="hero-text-line">

{% for block in section.blocks %}
    {% case block.type %}
    {% when 'hero_text_line' %}
        <div class="hero-text-line">
            <div style="font-weight:{{block.settings.font_weight}};"class="hero-text">
        <p>{{block.settings.text_line}}</p>
        </div>
        <div class='hero-image'>
<img width=50px height="50px" src="{{block.settings.block_image | img_url : 'master'}}" alt="hero image">
</div>
</div>
{% else %} 
<p>Unsuppored block type</p>
    {% endcase %}
{% endfor %}
</div>
</div>

</div>
</div>

