{% schema  %} 
    
{
    "name": "Hero Section",
    "settings": [

        {
        "type": "select",
        "label": "Hero text line",

        "id": "div_range",
        "options": [
            {
                "value": "span 1" ,
                "label": "small"
                    },
                    {
                "value": "span 3" ,
                "label": "medium"
                    }
        ]  ,
        "default": "span 1"


        }
    
        
    ],
    "blocks": [

     
                {
                    "type": "hero_text_line",
                    "name": "Hero Text Line",
                    "settings": [
                    {
                        "id": "text_line",
                        "type": "text",
                        "label": "enter lext line here",
                        "default": "enter text line here"
                    },

                    {
                        "id": "block_image",
                    "type": "image_picker",
                    "label": "text_image"
                    }
                    ]
                }
    ],
    "presets": [
        {
            "name": "Hero Section"
        }
    ]
}
 {% endschema %}

<style>
    .container{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    .hero-text-line{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size:5rem;
        width: auto;
    }
</style>
<div>
    <div>


<div class="container">
    <div style ="grid-column:{{section.settings.div_range}};" class="hero-text-line">

{% for block in section.blocks %}
    {% case block.type %}
    {% when 'hero_text_line' %}
        <div class="hero-text-line">
        <p>{{block.settings.text_line}}</p>
<img width=50px height="50px" src="{{block.settings.block_image | img_url : 'master'}}" alt="hero image">
</div>
{% else %} 
<p>Unsuppored block type</p>
    {% endcase %}
{% endfor %}
</div>
</div>

</div>
</div>

