{% schema  %} 
    
{
    "name": "Hero Section",
    "settings": [
        {
        "type": "text",
        "id": "text_hero",
        "label": "Hero text line",
        "default": "insert text here!"
        },
        {
            "type": "image_picker",
            "id": "text-image",
            "label": "text image"
        }
        
    ],
    "blocks": [
        {
            "type": "image_picker",
            "name": "Image Block",
            "settings": [
                {
                    "id": "block_image",
                    "type": "image_picker",
                    "label": "text_image"

                }
            ]

                },
                {
                    "type": "text",
                    "name": "text Line",
                    "settings": [{
                        "id": "text_line",
                        "type": "text",
                        "label": "enter lext line here",
                        "default": "enter text line here"
                    }]
                }
    ],
    "presets": [
        {
            "name": "Hero Section"
        }
    ]
}
 {% endschema %}
<div>
<h1>{{settings.text_hero}}</h1><img width="100px" height="100px" src="{{settings.text-image | img_url: 'master'}}" alt="text image">
{% for block in section.blocks %}
    {% case block.type %}
    {% when 'text' %}
        <p>{{block.settings.text_line}}</p>
    {% when 'image_picker' %} 
<img width=100px height="100px" src="{{block.settings.block_image | image_url : 'master'}}" alt="hero image">
{% else %} 
<p>Unsuppored block type</p>
    {% endcase %}
{% endfor %}
</div>