{% schema  %} 
    
{
    "name": "Hero Section",
    "settings": [

        {
        "type": "select",
        "label": "Hero text line",

        "id": "div_range",
        "options": [
            {
                "value": "1" ,
                "label": "small"
                    },
                    {
                "value": "1/3" ,
                "label": "medium"
                    }
        ]  ,
        "default": "1"


        }
    
        
    ],
    "blocks": [

        {
            "type": "image_picker",
            "name": "Image Block",
            "settings": [
                {
                    "id": "block_image",
                    "type": "image_picker",
                    "label": "text_image"

                }
            ]

                },
                {
                    "type": "text",
                    "name": "text Line",
                    "settings": [
                    {
                        "id": "text_line",
                        "type": "text",
                        "label": "enter lext line here",
                        "default": "enter text line here"
                    },{
                        "id": "block_image2",
                    "type": "image_picker",
                    "label": "text_image2"
                    }
                    ]
                }
    ],
    "presets": [
        {
            "name": "Hero Section"
        }
    ]
}
 {% endschema %}

<style>
    .container{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    .text-line{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size:2rem;
        width: auto;
    }
</style>
<div>
    <div>


<div class="container">
    <div style ="grid-column:{{section.settings.div_range}}" class="text-line">

{% for block in section.blocks %}
    {% case block.type %}
    {% when 'text' %}
        <p>{{block.settings.text_line}}</p>
    {% when 'image_picker' %} 
<img width=50px height="50px" src="{{block.settings.block_image2 | img_url : 'master'}}" alt="hero image">
{% else %} 
<p>Unsuppored block type</p>
    {% endcase %}
{% endfor %}
</div>
</div>
{
</div>
</div>
