{% schema %}
  {
    "name": "Reviews Section",
    "tag": "section",
    "class": "section",
    "settings": [
        {
          "type": "text",
          "id": "review-section",
          "label": "Customer Reviews",
          "default": "Customer Reviews"
           
        }
      
    ],
      "blocks":[
      {
        "type": "review",
        "name": "Review",
        "settings": [
          {
            "type": "image_picker",
            "id" : "review-image",
            "label": "reviewer image"
          },
          {
            "type": "text",
            "id": "review-name",
            "label": "reviewer name",
            "default": "Reviewer Name"
          },
          {
            "type": "textarea",
            "id": "review-text",
            "label": "review text",
            "default": "Insert review here"
          },
          {
            "type": "range",
            "id": "review-rating",
            "label": "rating",
            "min": 1,
            "max": 5,
            "step": 1,
            "default": 5
          }
        ]
  
      }
      ]
  }
{% endschema %}

<div class = container>
  
</div>