<style>
.running-text{
    font-size: 16px;
    display: inline-block;
    animation: scroll-text 10s linear infinite;

    position: absolute;
}
.wrapper{
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: auto
    height: auto;
}
@keyframes sroll-text {
    0%{
        transform: translateX(100%)
    }
    100%{
        transform: translateX(-100%);
    }

    
}

</style>
<div class="wrapper">
<div class="running-text" style="font-weight:{{section.settings.font_weight}}">{{section.settings.running-text}}</div>
</div>
{% schema  %}  
{
"name": "running-text",
"tag": "section",
"settings": [
    {
        "type": "textarea",
        "id": "running-text",
        "label": "Running Text",
        "default": "Add text that will run across the screen here"

},
{ 
"type": "select",
"id": "font_weight",
"label": "Font Weight",
 "options": [
            {"value": "normal", "label": "normal"},
            {"value": "bold", "label": "bold"},
            {"value": "light", "label": "light"}
        ],
        
        "default": "normal"
    }
]}




  

{% endschema %}