<style>
.running-text{
    font-size: 16px;
}


</style>

<div class="running-text" style="font-weight:{{section.settings.font_weight}}">{{section.settings.running-text}}</div>

{% schema  %}  
{
"name": "running-text",
"tag": "section",
"settings": [
    {
        "type": "textarea",
        "id": "running-text",
        "label": "Running Text",
        "default": "Add text that will run across the screen here"

},
{ 
"type": "select",
"id": "font_weight",
"label": "Font Weight",
 "options": [
            {"value": "normal", "label": "normal"},
            {"value": "bold", "label": "bold"},
            {"value": "light", "label": "light"}
        ],
        
        "default": "normal"
    }
]}




  

{% endschema %}