<style>
.wrapper {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100vw; /* Adjust to your container width */
  height: 40px; /* Adjust to your text height */
}

.running-text {
    display: inline-block;
  position: absolute;
  font-size: 1.5rem;
  white-space: nowrap;
  animation: scroll-text 10s linear infinite;
  width: 100vw;
}

@keyframes scroll-text {
    0%{
        transform: translateX(100%)
    }
    100%{
        transform: translateX(-100%);
    }

    
}

</style>
<div class="wrapper">
<div class="running-text" style="font-weight:{{section.settings.font_weight}}">{{section.settings.running-text}}</div>
</div>
{% schema  %}  
{
"name": "running-text",
"tag": "section",
"settings": [
    {
        "type": "textarea",
        "id": "running-text",
        "label": "Running Text",
        "default": "Add text that will run across the screen here"

},
{ 
"type": "select",
"id": "font_weight",
"label": "Font Weight",
 "options": [
            {"value": "normal", "label": "normal"},
            {"value": "bold", "label": "bold"},
            {"value": "light", "label": "light"}
        ],
        
        "default": "normal"
    }
]}




  

{% endschema %}