{% schema %}
  {
    "name": "Subscription Multicolumn",
    "tag": "section",
    "class": "section",
    
    "settings": [
      {
        "type": "text",
        "id": "section_name",
        "label": "header",
        "default": "Subscription"
        
      },
      {
        "type": "select",
        "id": "section_color_scheme",
        "label": "Color Scheme",
        "options": [
          {"value" : "light", "label": "Light"},
          {"value": "dark", "label": "Dark"},
          {"value": "accent", "label": "Accent"}
        ],
        "default": "accent"
      },
      {
        "type": "select",
        "id": "section_padding",
        "label": "section_padding",
        "options": [
          {"value": "small", "label": "Small"},
          {"value": "medium", "label": "Medium"},
          {"value": "large", "label": "Large"}
        ]
      }
    ],
    "blocks": [
      {
      "type": "subscrption_option",
        "name": "Subscription Option",
        "settings": [
          {
        "type": "text",
        "id": "subscription_name",
        "label": "header",
        "default": "Subscription Header"
        
      },
      {
        "type": "text",
        "id": "subscription_benefit",
        "label": "Subscription Benefit",
        "default": "Why you should choose this option"
      },
      {
        "type": "text",
        "id": "subscription_price",
        "label": "subscription price",
        "default": "$0.0"
            
      },
      {
        "type": "select",
        "id": "color_scheme",
        "label": "Color Scheme",
        "options": [
          {"value" : "light", "label": "Light"},
          {"value": "blue", "label": "Blue"},
          {"value": "green", "label": "Green"}
        ],
        "default": "green"
      }
    
        ]
    }]
  }
{% endschema %}
<style>
.subscription_option_container_option-light{
  color: grey;
  background-color: white;
}
  
</style>

<div>
  <div>
<h1>{{ section.settings.section_name }}</h1>
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'subscription_option' %}
    <div class='subscription_options__container'>
      <div class="subscription_option_container_option-{{ block.settings.color_scheme }}">
        
        <h1>{{ block.settings.subscription_name }}</h1>
        
          <p>{{ block.settings.subscription_benefit }}</p>
      </div>
      
    </div> 
              
        {% endcase %}
      {% endfor %}
      
  </div>
</div>