{% schema %}
    {
      "name": "Video Container",
      "tag": "section",
      "class": "video_container",
      "settings": [
        {
          "type": "range",
          "id": "columns-desktop",
          "min": 1,
          "max": 6,
          "step": 1,
          "label": "Columns (Desktop)",
          "default": 1
        },
        {
            "type": "select",
          "id": "columns-mobile",
          "label": "Columns on Mobile",
          "options":[
            {"value": "1", "label": "one"},
            {"value": "2",  "label": "two"}


          ]
        }
      ],
      "blocks": [
        {
          "type": "video",
          "name": "Product Video",
          "settings": [
            {
              "type": "select",
              "label": "video type",
              "id": "video_type",
              "options": [
                {"value": "embedded", "label": "embedded"},
                {"value": "uploaded", "label": "uploaded"}
              ]
            },

            {
              "type": "url",
              "id": "uploaded_video",
              "label": "uploaded URL"
            },
            {
              "type": "url",
              "id": "embedded_video",
              "label": "embedded URL"
            },

            {
              "type": "checkbox",
              "id": "autoplay-button",
              "default": false,
              "label": "Autoplay Button"
            }
          ]
        }
      ]
    }
    {% endschema %}
    
    <style>
    .video-grid-desktop {
      display: grid;
      max-width: 100%;
      grid-template-columns: repeat(var(--columns, 1), 1fr);
      grid-template-rows: auto;
      gap: 16px;
    }
    .video-card {
      padding: 8px;
      background-color: #f9f9f9;
      border-radius: 8px;
    }
    </style>
    
    <div>
      <section class="video_container">
        <div class="video-grid-desktop" style="--columns: {{ section.settings.columns-desktop }}">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'video' %}
                <div class="video-card">
                  {% if block.settings.video_type == "uploaded" %}
                    <video 
                      width="500px" 
                      height="500px" 
                      src="{{ block.settings.uploaded_video }}" 
                      {% if block.settings.autoplay-button %} autoplay {% endif %} 
                      controls muted>
                      Your browser does not support the video tag.
                    </video>
                  {% elsif block.settings.video_type == "embedded" %}
                    <iframe 
                      width="500px" 
                      height="500px" 
                      src="{{ block.settings.embedded_video | replace: 'watch?v=', 'embed/' }}" 
                      frameborder="0" 
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                      allowfullscreen>
                    </iframe>
                  {% endif %}
                </div>
            {% endcase %}
          {% endfor %}
        </div>
      </section>
    </div>
    
    