.image-collage{
  padding: 20px
}
.image-collage__container{
  display: grid;
  gap: 10px;
}

.size-small { grid-column: span 1; grid-row: span 1; }
.size-medium { grid-column: span 2; grid-row: span 1; }
.size-large { grid-column: span 2; grid-row: span 2; }